/*@font-face {
  font-family: "PublicSans";
  font-style: italic;
  font-display: swap;
  src: local("Public Sans Italic"), local("PublicSans-Italic"),
    url(PublicSans-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "PublicSans";
  font-style: normal;
  font-display: swap;
  src: local("Public Sans"), local("PublicSans"),
    url(PublicSans-VariableFont_wght.ttf) format("truetype");
}*/

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');