{% set page_title = paper.title %}
{% extends "base.html" %}

{% block head %}

{{ super() }}
<meta name="citation_title" content="{{paper.title}}"/>
{% for author in paper.authors %}
<meta name="citation_author" content="{{author}}"/>
{% endfor %}
<meta name="citation_publication_date" content="{{config.citation_date}}"/>
<meta name="citation_conference_title"
      content="{{config.tagline|striptags|title}}"/>
<meta name="citation_inbook_title" content="{{config.proceedings_title}}"/>
<meta name="citation_abstract" content="{{paper.abstract}}"/>
{% for keyword in paper.keywords %}
<meta name="citation_keywords" content="{{keyword}}"/>
{% endfor %}
<meta name="citation_pdf_url" content="{{paper.pdf_url|default('') }}"/>

{% endblock %}

{% block content %}

<!-- Title Block -->
<div class="pp-card m-3" style="">
    <div class="card-header">
        <!-- Title -->
        <h2 class="card-title main-title text-center" style="">
            {{paper.title}}
        </h2>
        <!-- Authors -->
        <h3 class="card-subtitle mb-2 text-muted text-center">
            {% for author in paper.authors %}
            <a href="creativity.html?filter=authors&search={{author}}"
               class="text-muted"
            >{{author}}</a
            >{{ "," if not loop.last }}
            {% endfor %}
        </h3>

        <!-- Links Info -->
        <div class="text-center p-3">
        {% if paper.bandcamp %}<a class="card-link" href="{{paper.bandcamp}}">bandcamp</a>{% endif %}
        {% if paper.vimeo %}<a class="card-link" href="{{paper.vimeo}}">vimeo</a>{% endif %}
        {% if paper.soundcloud %}<a class="card-link" href="{{paper.soundcloud}}">soundcloud</a>{% endif %}
        {% if paper.youtube %}<a class="card-link" href="{{paper.youtube}}">youtube</a>{% endif %}
        {% if paper.website %}<a class="card-link" href="{{paper.website}}">web</a>{% endif %}
      </div>
    </div>
</div>

<!-- Image -->
{% if paper.image %}<center><img src="static/creative-images/{{paper.id}}.jpg" width="80%" /></center>{% endif %}

<div class="border-top my-3"></div>
<div class="row p-4" id="faq">
  <div class="col-12 bd-content">
    <h2 class="text-center">Details</h2>
  </div>
</div>

<h3>Abstract</h3>

{{paper.abstract | markdown}}

{% if paper.bio %}
<h3>Bio</h3>

{{paper.bio | markdown}}
{% endif %}


{% endblock %}