{% set active_page = "Creativity" %}
{% set page_title = "Creativity" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>{{ page_title }}</h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

{{ creativity_gig | markdown }}

<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
  <div id="day">
    <div class="speakers">
        <div class="cards row">
            {% for create in creativity %}
            {% if create.session_name == "gig" %}
            <div class="col-md-6 col-sm-12 p-3" style="box-sizing: border-box;">
              <div class="card" style="display: block; overflow: hidden; width: 100%;">
                <div
                  class="card-header text-center"
                  style="min-height: 200px; width: 100%;"
                >
                  <a class="text-muted" href="creative_{{create.UID}}.html">
                    <h3 class="card-title main-title">
                      {{create.title}}
                    </h3>
                  </a>
                  <div class="card-subtitle text-muted">
                    {{ create.authors.split('|') | join(", ") }}
                  </div>
                  <div class="m-3 text-left card-subtitle font-italic">
                    {{create.abstract|safe|truncate(150)}}
                  </div>
                  {% if create.image %}<img class="card-img-bottom" src="static/creative-images/{{create.UID}}.jpg"/>{% endif %}
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
    </div>
  </div>
</div>

{{ creativity_room | markdown }}

<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
  <div id="day">
    <div class="speakers">
        <div class="cards row">
            {% for create in creativity %}
            {% if create.session_name == "room" %}
            <div class="col-md-6 col-sm-12 p-3" style="box-sizing: border-box;">
              <div class="card" style="display: block; overflow: hidden; width: 100%;">
                <div
                  class="card-header text-center"
                  style="min-height: 200px; width: 100%;"
                >
                  <a class="text-muted" href="creative_{{create.UID}}.html">
                    <h3 class="card-title main-title">
                      {{create.title}}
                    </h3>
                  </a>
                  <div class="card-subtitle text-muted">
                    {{ create.authors.split('|') | join(", ") }}
                  </div>
                  <div class="m-3 text-left card-subtitle font-italic">
                    {{create.abstract|safe|truncate(150)}}
                  </div>
                  {% if create.image %}<img class="card-img-bottom" src="static/creative-images/{{create.UID}}.jpg"/>{% endif %}
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
    </div>
  </div>
</div>
{% endblock %}
