{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
     <img
     class="logo" src="{{config.biglogo.image}}"
     height={{config.biglogo.height | default("auto") | tojson}}
     width={{config.biglogo.width | default("auto") | tojson}}
     />
      <h2>
        {{config.tagline|safe}}<br />
        {{config.date|safe}}<br />
        Canberra | Ngunnawal and Ngambri Country
      </h2>
    </div>
  </div>
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">{{config.background_image_ref}}</div>
</div>
{% endblock %}

{% block content %}

{{ readme | markdown }}

<!-- Speakers -->
{{ components.section("Keynote Speakers") }}
{{ components.speakergroup(speakers) }}


{% endblock %}


{#
<!-- Organisers -->
{{ components.section("Organisers") }}
{{ components.organizergroup(committee) }}
#}


{# commented code #}
{#
<ul>
  {% for page in pages %}
      <li>
          <a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a>
      </li>
  {% else %}
      <li>No pages so far</li>
  {% endfor %}
  </ul>
#}
