{% set active_page = "Papers" %}
{% set page_title = "Papers" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>{{ page_title }}</h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
  <div id="day">
    <div class="speakers">
      <div class="cards row">
        {% for paper in papers %}
        <div class="col-md-4 col-sm-6 p-3" style="box-sizing: border-box;">
          <div class="card" style="display: block; overflow: hidden; width: 100%;">
            <img class="card-img-top" src="static/papers/{{paper.UID}}.jpg" alt="{{paper.title}}">
            <div
              class="card-header text-center"
              style="min-height: 200px; width: 100%;"
            >
              <a class="text-muted" href="poster_{{paper.UID}}.html">
                <h3 class="card-title main-title">
                  {{paper.title}}
                </h3>
              </a>
              <div class="card-subtitle text-muted">
                {{ paper.authors.split("|") | join(", ") }}
              </div>
                {% if paper.type %}
                <div class="m-1 card-subtitle text-muted">
                {% if paper.type == 'paper' %}
                Paper Track
                {% elif paper.type == 'lbw' %}
                Late Breaking Work and Case Studies Track
                {% endif %}
                </div>
                {% endif %}
              <div class="m-3 text-left card-subtitle font-italic">
                {{paper.abstract|safe|markdown|truncate(100)}}
              </div>
              <a href="poster_{{paper.UID}}.html" class="btn btn-secondary">read more</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
