{% set page_title = paper.title %}
{% extends "base.html" %}

{% block head %}

{{ super() }}
<meta name="citation_title" content="{{paper.title}}"/>
{% for author in paper.authors %}
<meta name="citation_author" content="{{author}}"/>
{% endfor %}
<meta name="citation_publication_date" content="{{config.citation_date}}"/>
<meta name="citation_conference_title"
      content="{{config.tagline|striptags|title}}"/>
<meta name="citation_inbook_title" content="{{config.proceedings_title}}"/>
<meta name="citation_abstract" content="{{paper.abstract}}"/>
{% for keyword in paper.keywords %}
<meta name="citation_keywords" content="{{keyword}}"/>
{% endfor %}
<meta name="citation_pdf_url" content="{{paper.pdf_url|default('') }}"/>

{% endblock %}

{% block top %}
<style>
  .back {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>
        {{paper.title}}
      </h2>
      <h4>
        {{ paper_content.authors.split("|") | join(", ") }}
      </h4>
      <h5>
        {% if paper_content.session_code %} 
        <a href="/session_{{session.UID}}.html"><b>Session:</b> {{session.title}} - {{session.date}}</a>
        {% endif %}
      </h5>
      <h6>
        {% if paper.type == 'paper' %}
        Paper Track
        {% elif paper.type == 'lbw' %}
        Late Breaking Work and Case Studies Track
        {% elif paper.type == 'industry' %}
        Industry Talk
        {% endif %}
      </h6>
      <h6>
        {% if paper_content.mode == 'present' %} 
        In-Person Presentation
        {% elif paper_content.mode == 'remote' %}
        Remote Presentation
        {% elif paper_content.mode == 'video' %}
        Video Presentation
        {% endif %}
      </h6>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<center><img src="static/papers/{{paper.UID}}.jpg" width="50%" /></center>

{{ components.section("Abstract") }}
<p>{{paper.abstract | markdown}}</p>

<!-- {{ components.section("Preprint") }}

<div role="main" id="pdf_view"></div>


<script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.3.200/build/pdf.min.js"></script>
<script src="static/js/modules/pdfRender.js"></script>
<script>
  $(document).ready(() => {
    // render first page of PDF to div
    // PDF name can be bound to variable -- e.g. paper.content.poster_link
    const pdfFile = "static/papers/{{paper.UID}}.pdf";
    // " {{ paper.poster_pdf | default(config.default_poster_pdf) }}";
    initPDFViewer(pdfFile, "#pdf_view");
  });
</script> -->
{% endblock %}
