{% set page_title = session.title %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
     <!-- <img
     class="logo" src="{{config.biglogo.image}}"
     height={{config.biglogo.height | default("auto") | tojson}}
     width={{config.biglogo.width | default("auto") | tojson}}
     /> -->
      <h2>
        Session: {{ session.title }}
      </h2>
      <h4>
        {{session.date}}
      </h4>
      <h4>
        {{session.location}}
      </h4>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
{% if session.location %}

{% endif %}


{% if session.youtube_link %}
<div class="m-3 text-muted">
  <span class="card-title h5">
    <a href="{{session.youtube_link}}">Stream Link: YouTube</a>
  </span>
</div>
{% endif %}

<div class="row p-4" id="faq">
  <div class="col-12 bd-content">
    <h2 class="text-center">Presentations</h2>
  </div>
</div>

<div class="card mb-3">
  <div class="row no-gutters">
    {% for paper in papers|sort(attribute='session_position') %}{% if paper.session_code == session.UID %}
    <div class="col-md-4">
      <img class="card-img" src="static/papers/{{paper.UID}}.jpg" alt="{{paper.title}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">
          <a href="poster_{{paper.UID}}.html">{{paper.title}}</a>
        </h3>
        <p class="card-text">
          {{ paper.authors.split("|") | join(", ") }}
        </p>
        <small class="card-text text-muted">
          {% if paper.type == 'paper' %}
          Paper Track
          {% elif paper.type == 'lbw' %}
          Late Breaking Work and Case Studies Track
          {% elif paper.type == 'industry' %}
          Industry Talk
          {% endif %}
          <br />
          {{ paper.UID }}: 
          {% if paper.mode == 'present' %} 
        In-Person Presentation
        {% elif paper.mode == 'remote' %}
        <b>Remote Presentation</b>
        {% elif paper.mode == 'video' %}
        <b>Video Presentation</b>
        {% endif %}
        </small>
      </div>
    </div>
    {% endif %}{% endfor %}
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col p-5">
      <a type="button" class="btn btn-info" href="calendar.html" role="button">Back to schedule</a>
    </div>
  </div>
</div>

{% endblock %}