{% set page_title = speaker.speaker %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>
        Keynote: {{ speaker.speaker }}
      </h2>
      {% if speaker.talktitle %}<h4>{{speaker.talktitle}}</h4>{% endif %}
      <h4>
        {{speaker.date}}
      </h4>
      <h4>
        {{speaker.location}}
      </h4>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<center><img src="{{speaker.im}}" alt="{{speaker.speaker}}" width="50%" /></center>

{% if speaker.abstract %}
<div>
  <h4 class="card-title">Abstract</h4>
  {{speaker.abstract | markdown}}
</div>
{% endif %}

{% if speaker.bio %}
<div>
  <h4 class="card-title">Bio</h4>
  {{speaker.bio|markdown}}
</div>
{% endif %}

{% endblock %}