{% set page_title = session.session %}
{% extends "base.html" %}
{% block content %}

<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{speaker.speaker}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
       ({{speaker.institution}})
    </h3>
    {% if speaker.talktitle %}
    <h3 class="card-subtitle mb-2 text-muted text-center">{{speaker.talktitle | markdown}}</h3>
    {% endif %}
    <h3 class="card-title text-center">
      Keynote Presentation: {{speaker.date}}
    </h3>
  </div>

  <div class="card-body">
    <div class="text-center p-3">
      <a class="card-link" href="{{ speaker.web }}">Website </a>
      {% if speaker.youtube_link %}
      <a class="card-link" href="{{speaker.youtube_link}}"><b>Stream Link:</b> YouTube</a>
      {% endif %}
    </div>

  </div>
</div>

<center><img src="{{speaker.im}}" alt="{{speaker.speaker}}" width="60%" /></center>

{% if speaker.bio %}
<div>
  <h4 class="card-title">Bio</h4>
  {{speaker.bio|markdown}}
</div>
{% endif %}




{% if speaker.abstract %}
<div>
  <h4 class="card-title">Abstract</h4>
  {{speaker.abstract | markdown}}
</div>
{% endif %}

{% endblock %}