{% set page_title = workshop.title %}
{% extends "base.html" %}
{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{workshop.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {{ workshop.organizers | join(", ") }}
    </h3>
    <h4 class="card-subtitle mb-2 text-muted text-center">
      {{ workshop.timedate | safe}}
    </h4>
  </div>
</div>
<div class="pp-card m-3">
  <div class="card-body">
    <div class="card-text">
      <div id="abstractExample">
        <span class="font-weight-bold">Call for Participation:</span>
        {{workshop.abstract|safe|markdown}} <br /><br />
      </div>
    </div>
    <p></p>
  </div>
</div>

<!-- Presentation Embed -->

{% endblock %}
